.physical-input,
.workout-time,
.workout-obj,
.gender,
header,
main,
.user-physical {
    /* border: 1px solid royalblue; */
    font-size: 12px;
}

.WSBD-body {
    /* width:1000px; */
    margin: auto;
    background-color: #6e94b9;
}

.WSBD-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    background-color:#e0e0e0;
}

.WSBD-header img {
    width: 50px;
    height: 50px
}

.WSBD-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width:600px;
    margin: auto;
}

.WSBD-chat {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    /* border: 1px solid black; */
    background-color: #e0e0e0;
    width: 550px;
    border-radius: 30px;
    margin-top: 20px;
}

.user-physical {
    width: 450px
}

.physical-input,
.workout-time,
.workout-obj,
.gender {
    display: flex;
    justify-content: space-between;
    margin:10px;
    flex-wrap: wrap;
}

.physical-input div {
    display: flex;
    justify-content: flex-end;
    gap:10px
}

.physical-input span {
    width:20px
}

.physical-input p {
    font-size: 10px;
    margin-bottom:0px
}

.gender,
.physical-input input,
.workout-time select,
.workout-obj select {
    border:0;
    border-radius: 5px;
}

.physical-input input {
    width: 120px;
}

.workout-time label {
    text-align: center;
}

.workout-time select {
    width:50px;
}

.generate-plan {
    background-color: rgb(85, 120, 223);
    color: white;
    width:300px;
    height:50px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top:20px
}

.textarea {
    width: 500px;
    height: 150px;
    overflow-y: auto;
    border:1px solid white;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
}

.textarea p {
    padding:10px
}